body {
     background: linear-gradient(
        to bottom,
        rgb(27, 27, 27) 2%,
        #067293 10%,
        rgb(255, 255, 255),
        rgb(255, 255, 255),
        #067293 90%,
        rgb(27, 27, 27) 98%

    );
 
    height: 100vh; 
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}

.navigation {
    text-align: center;
    display: flex;
    flex-direction: column;
    padding-top: 35px;
    font-size: 25px;
    min-height: 70%;
    text-align: left;
}

#ilpalazzo {

    width: 210px;
    height: 200px;
    border-radius: 50%;
    box-shadow: 1px 10px 10px rgb(0, 21, 67);

}

.top {
    display: flex;
    flex-direction: column;
    text-align: right;
}

ul {

    list-style-type: none;

}

.bg {
    display: flex;
    justify-content: center;
    block-size: 210px;
}
.banner {
    position: flex;
    justify-content: center;
    text-align: center;
    font-size: 40px;
    color: gainsboro;
    padding-top: 15px;
    text-shadow: 2px 1px 1px black;
}

.hr2 {

   margin-top: 160px;
   width: 35%;
   margin-right: auto;
   margin-left: auto;
   background-color: black;
   height: 1px;
   
}

.hr3 {
    width: 35%;
    margin-right: auto;
    margin-left: auto; 
    background-color: black;
    height: 1px;

 }

hr {
    border: none;
}

a:visited {

    color: #067293;
}

a:hover {

    color: black;

}

