h1 {

 color: gainsboro;
 text-align: center;
 font-size: 40px;

}

body {

        
    background: linear-gradient(
        to bottom,
        rgb(27, 27, 27) 2%,
        #067293 10%,
        rgb(255, 255, 255),
        rgb(255, 255, 255),
        #067293 90%,
        rgb(27, 27, 27) 98%

    );
 
    height: 100vh; 
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: gainsboro;
    text-shadow: 1px 1px 1px black;

}

.name {

    font-size: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 30%;
    padding-top: 10px;

}

.info {

    display: flex;
    flex-direction: column;
    padding-top: 95px;
    width: 30%;

}

.contact {

    display: inline-block;
   
    padding-top: 95px;

    width: 30%;

}

#background{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 20%;
    margin-right: 20%;
    background-image: url(https://i.redd.it/leyzxn31efj21.jpg);
    border-radius: 9%;
}

#round {

    display: flex;
    flex-direction: column;
    border-radius: 50%;
    height: 300px;
    width: 300px;
    box-shadow: 1px 10px 10px rgb(0, 21, 67);

  }

.main { 

    display: flex;
    justify-content: center;
    align-content: center;
    block-size: 350px;

    
}

.about {

    display: flex;
    flex-direction: column;
    text-align: center;
    block-size: 180px;
}

ul {

    list-style-type: none;

}

a:link {
    color: white;
}

a:visited {
    color: rgb(5, 249, 249);
}

a {
    text-decoration: none;
}

a:hover {
    color: white;
}

.hr2 {
    width: 35%;
    margin-right: auto;
    margin-left: auto;
    background-color: white;
    height: 1px;
    border: none;
    
 }

 .hr3 {
    width: 35%;
    margin-right: auto;
    margin-left: auto;
    background-color: white;
    height: 1px;
    border: none;
    
 }

 hr {
    opacity: 50%;
 }
