body {
     background: linear-gradient(
        to bottom,
        rgb(27, 27, 27) 2%,
        #067293 10%,
        rgb(255, 255, 255),
        rgb(255, 255, 255),
        #067293 90%,
        rgb(27, 27, 27) 98%

    );
 
    height: 100vh; 
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}

.navigation {
    text-align: center;
    display: flex;
    flex-direction: column;
    padding-top: 235px;
    font-size: 25px;
    min-height: 70%;
    text-align: left;
}

#ilpalazzo {

    width: 210px;
    height: 200px;
    border-radius: 50%;
    box-shadow: 1px 10px 10px rgb(0, 21, 67);

}

.top {
    display: flex;
    flex-direction: column;
    padding-top: 200px;
    text-align: right;
}

ul {

    list-style-type: none;

}

.bg {
    display: flex;
    /* margin-right: auto; */
    /* margin-left: auto; */
    /* width: 100%; */
    justify-content: center;
}
.banner {
    position: flex;
    justify-content: center;
    text-align: center;
    font-size: 40px;
    color: gainsboro;
    padding-top: 15px;
    text-shadow: 2px 1px 1px black;
}

a {
    text-decoration: none;
}