h1 {

 /* color: red; */

 text-align: center;

}

body {

    margin: 0;
    font-family:Georgia, 'Times New Roman', Times, serif;
    /* background-color: black; */
    background-image:url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRGC8x4sx6R9h5r0knPc5dDJ8B-C3jW6_LQfw&usqp=CAU);
    background-repeat: repeat;
    /*background-size: cover;*/

}

table, td {

    margin-left:auto;
    margin-right:auto;
    width: 33%;
    /* background: red; */
    border: 4px black;
    
}

.contact {

    display: inline-block;
    background: red;
    width: 33%;
    padding-top: 10px;


}
.info {

    display: inline-block;
    /* display: inline-flex; */
    background: blue;
    width: 33%;
    padding-top: 10px;

}
#background{
    margin-left: auto;
    margin-right: auto;
    background-image:url(https://i.imgflip.com/7d4g6y.jpg);
    background-color: rgba(0, 0, 0, 0.25);
    width: 80%;
}
.name {
    display: inline-block;
    background: whitesmoke;
    width: 45%;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

#round{
    border-radius: 50%;

    height: 300px;

    width: 300px;

    
  }

.main { 
    display: flex;
    background: aqua;
    width: 700px;
    margin: 0 auto;
}

.name {


    font-size: 20px;

}

.about {

        text-align: center;
}

.why {

    /*text-align: center;
    margin-left: 555px;
    margin-right: 555px; 
    width: 900px;*/
    padding: 10px;
    border: 5px solid gray;
    /*margin-left:  290px;
    margin-right: 500px;
    margin: 0; */
}

ul {

    list-style-type: none;

}
