body {

        
    background: linear-gradient(
        to bottom,
        rgb(27, 27, 27) 2%,
        #067293 10%,
        rgb(255, 255, 255),
        rgb(255, 255, 255),
        #067293 90%,
        rgb(27, 27, 27) 98%

    );
 
    height: 100vh; 
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}
ul {
    list-style-type: none;
    overflow: hidden;
   
}
  
li {
    float: left;
}
  
li a {
    display: block;
    color: white;
    text-align: center;
    padding: 4px 16px;
    text-decoration: none;
}
  
li a:hover {
    background-color: #111;
    border-radius: 7%;
    border-style:double;
    border-color: rgb(0, 137, 137);
}

::-webkit-scrollbar {
    width: 1px;
  }

a:visited {
    color: rgb(5, 249, 249);
}

.pagetitle {
    position: flex;
    text-align: center;
    font-size: 40px;
    color: gainsboro;
    padding-top: 15px;
    text-shadow: 2px 1px 1px black;
}

.cntc {
    display: flex;
    justify-content: center;
    
}

.mail {
    display: flex;
    flex-direction: column;
    padding-top: 150px;
    margin-left: auto;
    margin-right: auto;
    font-size: 30px;
    text-align: center;
    color:rgb(0, 137, 137);
}

.phone {
    display: flex;
    flex-direction: column;
    padding-top: 150px;
    margin-left: auto;
    margin-right: auto;
    font-size: 30px;
    text-align: center;
    color:rgb(0, 137, 137);
}

img {
    width: 200px;
    height: 200px;
    align-self: center;
}

